<% provide(:title, @article.title)
   cat = Category.find(@article.category_id)
   if cat.parent != 0
     cat = Category.find(cat.parent)
   end
%>
<br/>
<div>
  <div class="row">
    <div class="col-lg-8">
        <h1><%= @article.title %></h1>
        <div><p style="float: left;"><span style="color:<%= cat.color %>;"><%= cat.title%></span>&nbsp;by&nbsp;MetaphysicalFitness</p><p style="float: right;">Comments(<%= Comment.find_all_by_article_id(@article.id).count() %>)</p><br/></div>
        <%= image_tag("/uploads/#{@article.image}", size:"750x550") %>
        <div><%=@article.body.html_safe %></div>
          <div id="comments">
            <%= render @article.comments %>
          </div>
      <% if signed_in? %>
          <%= form_for([@article, @article.comments.new]) do |f| %>
              <div class="field">
                <%= f.text_area :body, class: "form-control", placeholder: "comment here", :size => "50x3"  %>
              </div>
              <div class="actions" style="text-align: right;margin-top: 5px;">
                <%= f.hidden_field :user_id, value:current_user.id %>
                <%= f.submit "Send", class: "btn btn-primary" %>
              </div>
          <% end %>
      <% end %>
    </div>
    <div class="col-lg-4">
      <%= render "shared/siderbar" %>
    </div>
  </div>
</div>